
<div class="article">
  <div class="left">
    <img src="https://static.nationalgeographic.fr/files/styles/image_3200/public/image1_0.jpeg?w=1900&h=1425">
  </div>
  <div class="right">
    <h2>Aled</h2>
    <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti, autem earum! Aliquid dolores sapiente inventore, assumenda officia adipisci sequi numquam deserunt quisquam ipsam delectus? Velit asperiores dolore quas molestias accusantium?</p>
    <p class="auteur">Jeanne Osskour</p>
  </div>
</div>